body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 260;
}
.display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 15px;
    border-radius: 5px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button{
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    border:  none;
    cursor: pointer;
}
.operator {
    background-color: orange;
    color: white;
}
.clear {
    background-color: red;
    color: white;
}
.equal {
    background-color: green;
    color: white;
    grid-column: span 2;
}